<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond $1 !^(index\.php|assets|controllers|models|views|mobile_views|robots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
	RewriteRule ^(.*)$ /adm/index.php/$1 [L]
</IfModule>